__pycache__/
*.sbat
slurm_logs/
playground_sahana/
plots/
results/
playground/
checkpoints/*json
checkpoints/*pth
data/*pt
old_files/
train_router_test.py
args/hierarchical_grf.json
batch/logs/
results_wallclock/*.png
